
           

           html, body {
                background-color: #fff;
                color: #000080;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }




            .full-height {
                height: 100vh;
            }



            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }
            


            .position-ref {
                position: relative;
            }
            


            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }



            .p-title  {

              text-align: center;
              color: #000080;
              font-size: 1.5em;
              font: bold;
            }


          

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }



            .p-form { 
              display: table-row;  
            }


            .contact-form 
             { display: table;     
            }

            .contact-label { 
            display: table-cell; 
            }

            .contact-input { 
              display: table-cell;
            }








/*--------------------------------------------------------------------------
+ Buttons Style
--------------------------------------------------------------------------*/
.btn {
  border: 1px solid #000080;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  text-align: center;
  background: none repeat scroll 0 0 #000080;
  text-shadow: none;
  box-shadow: none;
  color: #FFF;
  white-space: nowrap;
}
.btn:hover {
  background: none repeat scroll 0 0 #526179;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
  outline: 0;
}
.btn:selected {
outline: 0;
}
.btn .caret {
  border-top: 4px solid #FFF;
}
.btn-micro {
  padding: 1px 8px;
  font-size: 10px;
}
.btn-grey {
  border: 1px solid #cecece;
  color: #333;
  background: none repeat scroll 0 0 #E7E7E7;
}
.btn-grey:hover {
  background: none repeat scroll 0 0 #cecece;
  color: #333;
  text-decoration: none;
  border: 1px solid #cecece;
}
.btn-grey .caret {
  border-top: 4px solid #333;
}
.btn-blue {
  border: 1px solid #3e7191;
  color: #FFF;
  background: none repeat scroll 0 0 #4F8DB3;
}
.btn-blue:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-orange {
  border: 1px solid #cc5a00;
  color: #FFF;
  background: none repeat scroll 0 0 #FF7000;
}
.btn-orange:hover {
  background: none repeat scroll 0 0 #d45d00;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #d45d00;
}
.btn-green {
  border: 1px solid #4c5818;
  color: #FFF;
  background: none repeat scroll 0 0 #6E8023;
}
.btn-green:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-red {
  border: 1px solid #ab0d0d;
  color: #FFF;
  background: none repeat scroll 0 0 #DA1111;
}
.btn-red:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-group.open .btn.dropdown-toggle {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
}
.dropdown.open a.dropdown-toggle .caret {
  border-top: 4px solid #FFF;
}





/*--------------------------------------------------------------------------
    Footer Style
--------------------------------------------------------------------------*/
.footer {
  background: ;
  color: #000080;
  padding: 0 20px 10px 20px;
  border-top: 4px solid #000080;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
}






.footer h3 {
  color: #000080;
  font-size: 1.5em;
  border-bottom: 1px dotted #000080;
}

.contact-info {
  text-align: left;
  color: #000080;
  font-size: 1.2em;
}

.contact-info2 {
  text-align: left;
  color: #000080;
  font-size: 1em;
}


.footer-stay-connected a {
  text-align: left;
  text-indent: -9999px;
  display: block;
  width: 115px;
  height: 40px;

}

.footer-copyright {
  text-align: center;
  color: #000080;
  border-top: 1px dotted #000080;
  padding-top: 10px;
  font-size: 1.2em;

}



/*--------------------------------------------------------------------------
+ Contact Us Style
--------------------------------------------------------------------------*/
.section-map{
  padding:0;
  height:400px;
}

#contact-us-map {
  height: 400px;
  margin:0;
}
.contact-us-details {
  margin: 20px 0;
  font-size: 0.9em;
}







/*--------------------------------------------------------------------------
+ Video Wrapper Style
--------------------------------------------------------------------------*/
.video-wrapper {
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  color: 0 0 5px #000;
  margin: 20px 0;
}



/*--------------------------------------------------------------------------
+ Call to Action Bar Style
--------------------------------------------------------------------------*/
.calltoaction-wrapper {
  text-align: center;
}
.calltoaction-wrapper h3 {
  display: inline-block;
  line-height: 36px;
  margin-right: 10px;
  margin-bottom: 0;
}
.calltoaction-wrapper a {
  vertical-align: top;
}
